
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1e1b1be4;
}
.Topo{
    padding: 16px;
    width: 100vw;
    height: 16vh;
}


.Nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: #1e1b1b;
    height: 07vh;
    width: 100vw;
    padding:16px;
}

.Nav-links,li{
    list-style:none;
    display: inline-block;
    padding: 0px 20px;
}

li,a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.produto{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1b1b;
    height: 20vh;
    width: 30vw;
    border-radius: 16px;
}

.BntAdd{
    background-color:rgb(255, 251, 0);
    height: 30px;
    width: 50px;
    border-radius: 8px;

}

.Secoes{
    display: grid;
    column-gap: 50px;
    row-gap: 100px;
    grid-template-columns: auto auto;
    background-color: #1e1b1bb3;
    padding: 50px 150px 50px 150px;
}

.Img-Produto{
    padding: 8px;
    border-radius: 16px;
    width: 128px;
    height: 100px;
}

.logo{
    border-radius: 8px;
    width: 100px;
    height:100px;
}


.pagination-container {
    text-align: center; 
    margin-top: 20px;   
}

.pagination {
    display: inline-block;
}


.pagination a, .pagination span {
    margin: 0 5px;      
    padding: 5px 10px;  
    text-decoration: none;
    border: 1px solid #ddd; 
    border-radius: 5px;     
}

.pagination .current {
    font-weight: bold; 
}

.pagination a:hover {
    background-color: #f0f0f0;  
}

.pagination-container {
    position: absolute;
    bottom: 20px;    
    width: 100%;
    left: 0;
    right: 0;
}