{% extends 'Base.html' %}
{% load static %}
{% block Conteudo  %}
    
    <div class="produto">
        <img class="Img-Produto" src="{% static 'imagens/x-bacon.jpg' %}" alt="X-bacon">
        <ul class="nav_links">
            <li><a href="">X-TUDO</a></li>
            <li><a href="">20 R$</a></li>
        </ul>
        <a href=""><button class="BntAdd">ADD</button></a>
    </div>
    
    <div class="produto">
        <img class="Img-Produto" src="{% static 'imagens/x-tudo.jpg' %}" alt="X-bacon">
        <ul class="nav_links">
            <li><a href="">X-BACON</a></li>
            <li><a href="">20 R$</a></li>
        </ul>
        <a href=""><button class="BntAdd">ADD</button></a>
    </div>
    

{% endblock  %}

