{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/Style.css'%}">
</head>
<body>
    <header class="Nav-Pedido">
        <a href="#"><img class="logoVoltar" src="{% static 'imagens/botao-voltar.png' %}" alt=""></a>
        <ul class="Nav-links">
            <li>PRODUTOS</li>
            <li>VALOR TOTAL:</li> 
        </ul>
    </header>
</body>
</html>