{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/Style.css'%}">
</head>
<body>
    <header class="Nav-Pedido">
        <a href="#"><img class="logoVoltar" src="{% static 'imagens/botao-voltar.png' %}" alt=""></a>
        <ul class="Nav-links">
            <li><h1>PRODUTOS</h1></li>
        </ul>
        <ul class="Nav-links">
            <li>VALOR TOTAL:</li> 
        </ul>
    </header>
    <section class="SecoesPedido">

    </section>
    <footer class="Nav-footer">
        <button class="BntFooter"><a href="">RETIRAR NA LOJA</a></button>
        <button class="BntFooter"><a href="">LOCAL</a></button>
        <button class="BntFooter"><a href="">DELIVERY</a></button>
    </footer>
</body>
</html>